#navBar{
    background-color: rgb(166, 243, 246);;
    height: 100px;
   
}

.nav-item {
    padding: 20px;
    font-size: 25px;
    padding-left: 100px;
}
#search{
    font-size: 25px;
}
#buttonSearch{
    font-size: 15px;
    background-color: aliceblue;
    color: darkgray;
   
}
.nav-link{
    color:rgb(11, 12, 12);
}