body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.65);
    overflow-x: hidden;
}

#navBar {
    background-color: rgb(166, 243, 246);
}

.navbar-collapse {
    background-color: rgb(166, 243, 246);
    padding: 10px;
}

.logo {
    width: 120px;
    margin-right: 30px;
    margin-left: 10px;
}

.nav-item {
    padding: 20px;
    font-size: 20px;
}

#search {
    font-size: 20px;
}

#buttonSearch {
    font-size: 15px;
    background-color: aliceblue;
    color: darkgray;
    border-color: white;
}

.nav-link {
    color: rgb(11, 12, 12);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    width: 33.3%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    height: auto;
    padding: 16px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: rgba(124, 234, 227, 0.345);
    color: black;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 20px;
  }
  
  .profile-img {
    width: 20%; 
    border-radius: 50%; 
    object-fit: cover; 
    transition: transform 0.3s ease; }
  
  
  .profile-img:hover {
    transform: scale(1.2); }

  
  .text-content {
    flex-grow: 1; 
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color: rgb(166, 243, 246);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #057b88;
  }
  
  
  .team-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  
  
  @media screen and (max-width: 768px) {
    .column {
      width: 100%; 
      margin-bottom: 20px;
    }
  
    .profile-img {
      width: 50%;
      margin-bottom: 16px;
    }
  
    .team-container {
      justify-content: center;
    }}
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

.footer {
    background-color: rgb(166, 243, 246);
    height: 250px;
    width: 100%;
    text-align: center;
}