body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    color:rgba(0, 0, 0, 0.65);
}

#navBar{
    background-color: rgb(166, 243, 246);
}

.navbar-collapse {
    background-color: rgb(166, 243, 246);
    padding: 10px;
}

.logo {
    width: 100px;
    margin-right: 50px;
}

.nav-item {
    padding: 20px;
    font-size: 20px;
}

#search{
    font-size: 20px;
}

#buttonSearch{
    font-size: 15px;
    background-color: aliceblue;
    color: darkgray;
    border-color: white;
   
}
.nav-link{
    color:rgb(11, 12, 12);
}

.footer {
    background-color: rgb(166, 243, 246);
    height: 250px;
    width: 100%;
    text-align: center;
}

.info {
    padding: 15px;
    margin-bottom: 10px;
}

.copyright {
    background-color: rgb(120, 240, 244);
    font-weight: bold;
}

.copyrightText {
    padding: 15px;
}
